.button {
    display: block;
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    background-color: #FC9B27;
    color: #ffffff;
    padding: 17px 78px;
    border: 0;
    max-width: 260px;
}

.button:hover {
    background-color: #FC7427;
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.14);
}

.button:active {
    background-color: #FC7427;
}