.intro {
    background-color: #D8ECFE;
    max-height: 600px;
    overflow: hidden;
}

.intro__wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.intro__wrapper::after {
    content: '';
    display: block;
    background-image: url("../../../assets/intro-back/farmer-male.svg");
    width: 446px;
    height: 627px;
    background-repeat: no-repeat;
    margin-top: 37px;
}

.intro__text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 640px;
    font-family: 'Inter','Arial', sans-serif;
    padding: 183px 0;
}

.intro__heading {
    font-weight: 700;
    font-size: 44px;
    line-height: 115%;
}

.intro__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    max-width: 538px;
}
